<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32010">
	<setting label="Device" type="lsep"/>
	<setting label="Rate" type="number" id="rate" default="500000"/>
	
	<setting label="Smoothing" type="lsep"/>
	<setting label="Type" type="select" id="smoothingType" values="linear|none" default="linear"/>
	<setting label="Time [ms]" type="number" id="smoothingTime" default="100"/>
	<setting label="Update frequency [Hz]" type="number" id="smoothingFreq" default="20"/>
	
	<setting label="Black border detection" type="lsep"/>
	<setting label="Enable" type="bool" id="bbdEnabled" default="true"/>
	<setting label="Threshold" type="slider" enable="eq(-1,true)" id="bbdThreshold" default="0.10" range="0,0.05,1" />

    </category>

    <category label="Color">
	<setting label="Red" type="lsep"/>
        <setting label="Threshold" type="slider" range="0,0.02,1" id="redThreshold" default=0.05/>
        <setting label="Gamma" type="slider" range="0,0.2,4"   id="redGamma" default=2.0/>
        <setting label="Blacklevel" type="slider" id="redBlacklevel" default="0" range="0,0.02,1" />
        <setting label="Whitelevel" type="slider" id="redWhitelevel" default="1.0" range="0,0.02,1" />

        <setting label="Green" type="lsep"/>
        <setting label="Threshold" type="slider" range="0,0.02,1" id="greenThreshold" default=0.05/>
        <setting label="Gamma" type="slider" range="0,0.2,4"   id="greenGamma" default=2.0/>
        <setting label="Blacklevel" type="slider" id="greenBlacklevel" default="0" range="0,0.02,1" />
        <setting label="Whitelevel" type="slider" id="greenWhitelevel" default="0.85" range="0,0.02,1" />

	<setting label="Blue" type="lsep"/>
        <setting label="Threshold" type="slider" range="0,0.02,1" id="blueThreshold" default=0.05/>
        <setting label="Gamma" type="slider" range="0,0.2,4"   id="blueGamma" default=2.0/>
        <setting label="Blacklevel" type="slider" id="blueBlacklevel" default="0" range="0,0.02,1" />
        <setting label="Whitelevel" type="slider" id="blueWhitelevel" default="0.85" range="0,0.02,1" />
    </category>
	<category label="Grabber">
	  <setting label="Video standard" type="select" values="PAL|NTSC" id="videoStandard" default="PAL"/>
    </category>
</settings>
